*{
    box-sizing: border-box;
  }
  body {
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
    background-color: white;
    background-image: linear-gradient(to right, white, grey);
  }
  body.dark-theme {
    background-color: black;
    background-image: linear-gradient(to right, grey, black);
    color:#E5E7EB;
  }
  .toggle input[type='checkbox'] {
    display: none;
  }
  
  .toggle label {
    background-color: #777;
    border: 2px solid #555;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 100px;
    height: 50px;
  }
  
  .toggle label::after {
    background-color: #555;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 42px;
    height: 42px;
  }
  
  .toggle input[type='checkbox']:checked~label {
    background-color: grey;
    border-color: whitesmoke;
  }
  
  .toggle input[type='checkbox']:checked~label::after {
    background-color: white;
    transform: translateX(50px);
  }

  .main {
    font-size: 1cm;
    line-height: 0%;
    padding: 1cm;
  }

  span {
    font-size: 30px;
    cursor: pointer;
    color: black;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }

  .menu{
    padding-left: 4cm;
    width: 400px;
    height: 300px;
  }
  
  .desc {
    padding: 10px;
    text-align: center;
  }

  .gallery{
    position: absolute;
    left: 200px;
  }
  .gallery1{
    position: absolute;
    top: 5px;
    left: 700px;
  }
  .gallery2{
    position: absolute;
    top: 470px;
    right: 700px;
  }
  .gallery3{
    position: absolute;
    top: 10px;
    left: 670px;
  }
  .gallery4{
    position: absolute;
    top: 300px;
    right: 670px;
  }
  .gallery5{
    position: absolute;
    top: 100px;
    left: 650px;
  }
  button {
    height: 50px;
    background-color: whitesmoke;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: hsl(0, 0%, 0%);
    display: inline;
    font-family: ui-sans-serif, ;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: #000000 solid;
    width: 100%;
    max-width: 120px;
    position: relative;
    transform: rotate(-2deg);
  }

  button:focus {
    outline: 0;
  }

  button:after {
    content: '';
    position: absolute;
    border: 2px solid black;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }

  button:hover:after {
    bottom: 2px;
    left: 2px;
  }

  @media (min-width: 768px) {
    button {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }